*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0%;
    width: 100%;
    background-color: #ebeae4;
}

.dashboard{
    padding-top: 2rem;
    padding-left: 5rem;
}

.uploadbutton{
    width: 20rem;
    margin-top: 2rem;
    margin-left: 20rem;
}

.videos{
    margin: 2rem;
    padding: 1.5rem;
    background-color: white;
    align-items: center;
}